In [1]:
import pandas as pd
import numpy as np

In [2]:
#first lets construct a small corpus
corpus = ['data science is one of the most important fields of science',
          'this is one of the best data science courses',
          'data scientists analyze data' ]

In [3]:
#Ncreate a word set for the corpus:
words_set = set()

for doc in  corpus:
    words = doc.split(' ')
    words_set = words_set.union(set(words))
    
print('Number of words in the corpus:',len(words_set))
print('The words in the corpus: \n', words_set)

Number of words in the corpus: 14
The words in the corpus:
 {'the', 'fields', 'science', 'courses', 'data', 'best', 'is', 'this', 'one', 'most', 'analyze', 'important', 'scientists', 'of'}

In [4]:
n_docs = len(corpus)         #·Number of documents in the corpus
n_words_set = len(words_set) #·Number of unique words in the 

df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=list(words_set))

# Compute Term Frequency (TF)
for i in range(n_docs):
    words = corpus[i].split(' ') # Words in the document
    for w in words:
        df_tf[w][i] = df_tf[w][i] + (1 / len(words))
        
df_tf

,the,fields,science,courses,data,best,is,this,one,most,analyze,important,scientists,of
0,0.090909,0.090909,0.181818,0.000000,0.090909,0.000000,0.090909,0.000000,0.090909,0.090909,0.00,0.090909,0.00,0.181818
1,0.111111,0.000000,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.000000,0.00,0.000000,0.00,0.111111
2,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25,0.000000,0.25,0.000000

In [5]:
print("IDF of: ")

idf = {}

for w in words_set:
    k = 0    # number of documents in the corpus that contain this word
    
    for i in range(n_docs):
        if w in corpus[i].split():
            k += 1
            
    idf[w] =  np.log10(n_docs / k)
    
    print(f'{w:>15}: {idf[w]:>10}' )

IDF of:
            the: 0.17609125905568124
         fields: 0.47712125471966244
        science: 0.17609125905568124
        courses: 0.47712125471966244
           data:        0.0
           best: 0.47712125471966244
             is: 0.17609125905568124
           this: 0.47712125471966244
            one: 0.17609125905568124
           most: 0.47712125471966244
        analyze: 0.47712125471966244
      important: 0.47712125471966244
     scientists: 0.47712125471966244
             of: 0.17609125905568124

In [6]:
df_tf_idf = df_tf.copy()

for w in words_set:
    for i in range(n_docs):
        df_tf_idf[w][i] = df_tf[w][i] * idf[w]
        
df_tf_idf

,the,fields,science,courses,data,best,is,this,one,most,analyze,important,scientists,of
0,0.016008,0.043375,0.032017,0.000000,0.0,0.000000,0.016008,0.000000,0.016008,0.043375,0.00000,0.043375,0.00000,0.032017
1,0.019566,0.000000,0.019566,0.053013,0.0,0.053013,0.019566,0.053013,0.019566,0.000000,0.00000,0.000000,0.00000,0.019566
2,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.11928,0.000000,0.11928,0.000000

In [7]:
pip install sklearn

Requirement already satisfied: sklearn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from sklearn) (1.1.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.23.3)
Requirement already satisfied: joblib>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.3.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.9.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
#We need to instantiate the class first, then we 
#can call the fit_transform method on our test corpus. 
#This will perform all of the calculations we performed above.
tr_idf_model  = TfidfVectorizer()
tf_idf_vector = tr_idf_model.fit_transform(corpus)

In [10]:
#After vectorizing the corpus by the function, a sparse matrix is obtained.

print(type(tf_idf_vector), tf_idf_vector.shape)

<class 'scipy.sparse._csr.csr_matrix'> (3, 14)

In [11]:
#we convert to an regular array to get a better idea of the values:
tf_idf_array = tf_idf_vector.toarray()

print(tf_idf_array)

[[0.         0.         0.         0.18952581 0.32089509 0.32089509
  0.24404899 0.32089509 0.48809797 0.24404899 0.48809797 0.
  0.24404899 0.        ]
 [0.         0.40029393 0.40029393 0.23642005 0.         0.
  0.30443385 0.         0.30443385 0.30443385 0.30443385 0.
  0.30443385 0.40029393]
 [0.54270061 0.         0.         0.64105545 0.         0.
  0.         0.         0.         0.         0.         0.54270061
  0.         0.        ]]

In [12]:
#It's now very straightforward to obtain the original terms in the corpus by using get_feature_names:
words_set = tr_idf_model.get_feature_names()

print(words_set)

['analyze', 'best', 'courses', 'data', 'fields', 'important', 'is', 'most', 'of', 'one', 'science', 'scientists', 'the', 'this']

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [13]:
df_tf_idf = pd.DataFrame(tf_idf_array, columns = words_set)

df_tf_idf

,analyze,best,courses,data,fields,important,is,most,of,one,science,scientists,the,this
0,0.000000,0.000000,0.000000,0.189526,0.320895,0.320895,0.244049,0.320895,0.488098,0.244049,0.488098,0.000000,0.244049,0.000000
1,0.000000,0.400294,0.400294,0.236420,0.000000,0.000000,0.304434,0.000000,0.304434,0.304434,0.304434,0.000000,0.304434,0.400294
2,0.542701,0.000000,0.000000,0.641055,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.542701,0.000000,0.000000